.bg-img {
    min-height: 30vh;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-top: 80px;
  }
  
  .sectionDetail {
    min-height: 55vh;
  }
  
  .nav-pills {
    border-bottom: 1px solid var(--main-color);
  }
  
  .nav-link {
    border-radius: 0;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .nav-link.active {
    background-color: var(--main-color) !important;
  }
  
  .nav-link.active .icon-nav {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
      brightness(102%) contrast(102%);
  }
  
  .accordion-button {
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .accordion-button:not(.collapsed) {
    color: black;
    background-color: var(--main-white);
  }
  
  .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(225 52 52 / 23%);
  }
  
  .accordion-button:not(.collapsed)::after {
    filter: invert(51%) sepia(62%) saturate(5708%) hue-rotate(337deg)
      brightness(103%) contrast(101%);
  }
  
  .episode-label {
    cursor: pointer;
    border: 1px solid #dadada;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .episode-input {
    position: absolute;
    display: none;
    cursor: pointer;
    right: 33px;
    top: 23px;
  }
  
  .episode-input[type="checkbox"]:checked + .episode-label {
    color: var(--main-white) !important;
    background-color: var(--main-color);
    border-color: var(--main-color);
    transition: 0.1s;
  }
  
  .episode-input[type="checkbox"]:checked + .episode-label img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
      brightness(102%) contrast(102%);
    transition: 0.1s;
  }
  
  .saison-input[type="checkbox"]:checked + .saison-label img {
    filter: invert(51%) sepia(62%) saturate(5708%) hue-rotate(337deg)
      brightness(103%) contrast(101%);
    transition: 0.1s;
  }
  
  .comment p {
    position: relative;
    padding: 1.125em 1.5em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgb(211 211 211 / 35%),
      0 0.0625rem 0.125rem rgb(0 0 0 / 20%);
  }
  
  .comments {
    max-height: 400px;
    overflow-y: scroll;
  }
  
  .comments::-webkit-scrollbar {
    width: 5px;
  }
  
  .comments::-webkit-scrollbar-thumb {
    background-color: #d6d4d4;
    border: 0;
    border-radius: 0;
  }
  
  .comments::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
    border-color: var(--main-color);
  }
  
  .comment p::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 1.5em;
    border: 0.75rem solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
  }
  
  .btn-send {
    top: 45px;
    right: 20px;
  }
  
  .btn-send:hover img {
    filter: invert(0%) sepia(0%) saturate(7471%) hue-rotate(260deg)
      brightness(92%) contrast(108%);
    transition: 0.1s;
  }
  
  textarea {
    resize: none;
    padding-right: 60px;
  }
  
  @media (max-height: 828px) {
    .bg-img {
      height: 40vh;
    }
  }
  