<section class="bg-img d-flex align-items-center"
  [ngStyle]="{'background': 'linear-gradient(rgba(21, 32, 43, 0.5), rgba(21, 32, 43, 0.5)), url(' + (anime.coverImage ? anime.coverImage : 'assets/img/cover-image.png') + ')'}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-white text-center font-architects-daughter text-uppercase">
        <h1>{{anime.title}}</h1>
      </div>
      <div class="col-12 text-center">


        <div class="dropdown">
          <button class="border-0 bg-transparent p-0" [attr.id]="'dropdownMenuButton'+anime.idApi"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img class="img-fluid icon-white me-2 hover-zoom" src="../../assets/img/SVG/add.svg" width="30" height="30">
          </button>

          <ul class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButton'+anime.idApi">
            <!-- <li *ngFor="let list of userLists" (click)="addAnimeList(anime.idApi, list.id)"><a
                class="dropdown-item cursorPointer">{{
                list.nom }}</a></li> -->
          </ul>
        </div>

        <div class="border-0 bg-transparent p-0" >
          <img class="img-fluid" src="../../assets/img/SVG/added.svg" height="30" width="30">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5 sectionDetail">
  <div class="container">
    <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-infos-tab" data-bs-toggle="pill" data-bs-target="#pills-infos"
          type="button" role="tab" aria-controls="pills-infos" aria-selected="true">
          <img src="../../assets/img/SVG/infos.svg" class="img-fluid icon-nav icon-main" height="20" width="20">
          Infos
        </button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-infos" role="tabpanel" aria-labelledby="pills-infos-tab">

        <div class="row my-5">
          <div class="col-md-4 text-center">
            <img class="img-fluid" [src]="anime.image ? anime.image : '../../assets/img/noimage.png'">
          </div>
          <div class="col-md-8 mt-3 mt-md-0">
            <div class="d-flex justify-content-center justify-content-md-start">
              <!-- <div *ngFor="let genre of anime.genres">
                <div class="bg-main text-white px-4 py-3 me-2">
                  <img class="icon-white" src="../../assets/img/SVG/genres/{{genre.id}}.svg" width="20" height="20">
                  <span class="ms-2 fw-bold">{{genre.nom}}</span>
                </div>
              </div> -->
            </div>
            <div class="my-4">
              <p>
                <img class="img-fluid icon-main" src="../../assets/img/SVG/status.svg" height="15" width="15">
                <span class="fw-bold"> Status : </span>
                {{anime.enCours ? 'En cours' : 'Terminée'}}
                <small class="bg-main text-white fw-bold p-1">{{changeDate(anime.dateCommencement)}} >
                  {{changeDate(anime.dateFin)}}</small>
              </p>
              <p>
                <img class="img-fluid icon-main" src="../../assets/img/SVG/classification.svg" height="15" width="15">
                <span class="fw-bold"> Classification : </span>
                {{anime.adult ? '18+' : 'Tout public'}}
              </p>
            </div>
            <div class="my-4">
              <p class="fw-bold mb-1">
                Synopsis
              </p>
              <p>{{anime.description}}</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</section>