@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

/*
----------------------------------
[Sommaire]
1. Global
2. Texte
3. Formulaire
4. Couleurs
5. Boutons
6. Scroll Bar
7. Pills Tabs
8. Hover Effet
9. Responsive
----------------------------------
*/

/*
----------------------------------
1. Global
----------------------------------
*/

:root {
  --main-color: #ff473f;
  --main-grey: #f3f3f3;
  --main-white: #fff;
}

body {
  font-family: "Inconsolata", sans-serif;
}

.font-architects-daughter {
  font-family: "Architects Daughter", cursive;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.w-85 {
  width: 85%;
}

.cursorPointer {
  cursor: pointer;
}

.dropdown-item {
  color: var(--main-color);
}

.dropdown-item:hover {
  color: black;
}

/*
----------------------------------
2. Texte
----------------------------------
*/

h1 {
  font-size: 32px;
}

h3 {
  font-size: 18px;
}

.f-size20 {
  font-size: 20px;
}

.f-size14 {
  font-size: 14px;
}

a {
  color: var(--main-color);
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: black;
}

/*
----------------------------------
3. Formulaire
----------------------------------
*/

.form-group {
  margin-bottom: 20px;
}

input {
  margin-bottom: 0;
}

label {
  padding-left: 10px;
  color: var(--main-color);
}

.form-control,
textarea {
  border-radius: 20px !important;
  border: 1px solid rgba(255, 73, 63, 0.5) !important;
  box-shadow: 0px 1px 10px -2px rgba(255, 71, 63, 0.25) !important;
  background: none !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  transition: 0.5s;
}

.form-control:focus,
.form-control:hover {
  box-shadow: none !important;
}

.form-select {
  border-radius: 50rem;
  color: var(--main-color);
  border-color: var(--main-color);
}

.form-check-input:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/*
----------------------------------
4. Couleurs
----------------------------------
*/

.color-main {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color);
}

.bg-maingrey {
  background-color: var(--main-grey);
}

.bg-white {
  background-color: var(--main-white);
}

.border-main-color {
  border: 1px solid var(--main-color);
}

.icon-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.icon-main {
  filter: invert(51%) sepia(62%) saturate(5708%) hue-rotate(337deg)
    brightness(103%) contrast(101%);
}

.icon-black {
  filter: invert(0%) sepia(0%) saturate(7471%) hue-rotate(260deg)
    brightness(92%) contrast(108%);
}

/*
----------------------------------
5. Boutons
----------------------------------
*/

.btn-main {
  background-color: var(--main-color);
  color: var(--main-white);
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-main:hover {
  color: var(--main-color);
  background-color: var(--main-white);
  border-color: var(--main-color);
}

.btn-reverse {
  color: var(--main-color);
  border-color: var(--main-color);
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-reverse:hover {
  background-color: var(--main-color);
  color: var(--main-white);
}

.btn-custom {
  background: none;
  border: none;
}

.link {
  color: var(--main-color);
  text-decoration: underline !important;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-radius-style {
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--main-white);
}

.btn-radius-style:hover {
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/*
----------------------------------
6. Scroll Bar
----------------------------------
*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 0;
}

/*
----------------------------------
7. Pills Tabs
----------------------------------
*/

.nav-pills {
  border-bottom: 1px solid var(--main-color);
}

.nav-link {
  border-radius: 0 !important;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link.active {
  background-color: var(--main-color) !important;
}

.nav-link:hover {
  color: var(--main-color);
}

.nav-link.active:hover {
  color: var(--main-white);
}

.nav-link.active .icon-nav {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

/*
----------------------------------
8. Hover Effet
----------------------------------
*/

.hover-zoom,
.hover-card {
  transition: 0.3s;
}

.hover-card:hover {
  transform: scale(1.04);
}

.hover-zoom:hover {
  transform: scale(1.2);
}

/*
----------------------------------
9. Responsive
----------------------------------
*/

@media (max-height: 828px) {
  .responsive-size {
    padding: 30px !important;
    margin-top: 0 !important;
  }

  .responsive-size img {
    height: 40px;
    width: 40px;
  }

  .responsive-size h1 {
    font-size: 24px;
  }

  .responsive-size form {
    margin: 0 40px !important;
  }

  .responsive-size .form-group {
    margin-bottom: 10px !important;
  }

  .responsive-size .btn-div {
    margin-top: 20px !important;
  }

  .responsive-logo {
    max-width: 150px !important;
  }
}

@media (max-height: 634px) {
  .responsive-size {
    padding: 10px !important;
  }

  .responsive-size img {
    height: 25px;
    width: 25px;
  }

  .responsive-size h1 {
    font-size: 20px;
  }

  .responsive-size form {
    margin: 0 10px !important;
  }

  .responsive-logo {
    max-width: 80px !important;
  }
}
