<section class="list-anime">
  <div class="container">
    <div class="row">
      @if (apiName === 'kitsu') {
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <input
            class="form-control w-50"
            type="text"
            placeholder="Rechercher une catégorie"
            (keyup)="searchCategory($event)"
          />
        </div>
      </div>
      <div
        class="col-12 my-5 pt-1 d-flex flex-wrap overflow-auto justify-content-center"
        style="max-height: 150px"
      >
        @if (!categoriesFiltered().length) {
        <p>Pas de catégories trouvées</p>
        }@for (category of categoriesFiltered(); track $index) {
        <div class="form-group me-2 mb-2 noselect hover-card">
          <input
            class="genres-input"
            id="{{ category.id }}"
            type="checkbox"
            name="category"
          />
          <label
            class="genres-label px-5 py-3"
            for="{{ category.id }}"
            (click)="filterCategory(category.name)"
            matTooltip="{{ category.name }}"
            matTooltipPosition="above"
          >
            {{ category.nameTranslate }}
          </label>
        </div>
        }
      </div>
      }
      <div class="col-12">
        <div class="bg-maingrey p-5">
          <div class="mb-4">
            @if (apiName === 'kitsu') {
            <p class="fw-bold">Types</p>
            <div class="d-flex flex-wrap">
              @for (type of typesArray; track $index) {
              <div class="form-check me-4 mb-1">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="$index"
                  (click)="changeType(type.name)"
                  [checked]="type.selected"
                />
                <label class="p-0 form-check-label" for="{{ $index }}">
                  {{ type.name }}
                </label>
              </div>
              }
            </div>
            } @else {
            <p class="fw-bold">Format</p>
            <div class="d-flex flex-wrap">
              @for (category of categoriesFiltered(); track $index) { @if
              (category.format === 'format') {
              <div class="form-check me-4 mb-1">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="$index"
                  (click)="filterCategory(category.id)"
                />
                <label class="p-0 form-check-label" for="{{ $index }}">
                  {{ category.name }}
                </label>
              </div>
              } }
            </div>
            <p class="fw-bold">Genre</p>
            <div class="d-flex flex-wrap">
              @for (category of categoriesFiltered(); track $index) { @if
              (category.format === 'genre') {
              <div class="form-check me-4 mb-1">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="$index"
                  (click)="filterCategory(category.id)"
                />
                <label class="p-0 form-check-label" for="{{ $index }}">
                  {{ category.name }}
                </label>
              </div>
              } }
            </div>
            <p class="fw-bold">Theme</p>
            <div class="d-flex flex-wrap">
              @for (category of categoriesFiltered(); track $index) { @if
              (category.format === 'theme') {
              <div class="form-check me-4 mb-1">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="$index"
                  (click)="filterCategory(category.id)"
                />
                <label class="p-0 form-check-label" for="{{ $index }}">
                  {{ category.name }}
                </label>
              </div>
              } }
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-5">
      <div
        class="row"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="400"
        (scrolled)="onScroll()"
      >
        @if (!manhwas().length && !loadingManhwas()) {
        <p>Pas de manhwas trouvés</p>
        } @for (manhwa of manhwas(); track $index) {
        <div class="col-lg-3 col-md-4 col-sm-6 hover-card">
          <div class="px-xl-2 pb-xl-5 pt-xl-0 px-lg-0 pt-5">
            <img
              class="img-fluid cursorPointer"
              [src]="
                manhwa.image ? getUrlImage(manhwa.image) : '../../assets/img/noimage.png'
              "
              [routerLink]="['/manhwa', manhwa.id]"
              matTooltip="Voir la fiche de &quot;{{ manhwa.title }}&quot;"
              matTooltipPosition="after"
            />
            <p class="mb-0 mt-1 fw-bold" title="{{ manhwa.title }}">
              {{ manhwa.title }}
            </p>
            <div class="d-flex justify-content-between">
              <small>{{ changeDate(manhwa.startDate) }}</small>
              @if (!manhwasLibrairy().includes(manhwa.id.toString())) {
              <div class="dropdown">
                <button
                  class="border-0 bg-transparent p-0"
                  [attr.id]="'dropdownMenuButton' + manhwa.id"
                  aria-expanded="false"
                >
                  <img
                    class="img-fluid icon-main"
                    src="../../assets/img/SVG/add.svg"
                    height="20"
                    width="20"
                  />
                </button>
                <ul
                  class="dropdown-menu"
                  [attr.aria-labelledby]="'dropdownMenuButton' + manhwa.id"
                >
                  @if(!isAdding) { @for (librairy of librairies(); track $index)
                  {
                  <li (click)="addAnimeList(manhwa.id, librairy._id)">
                    <a class="dropdown-item cursorPointer">{{
                      librairy.name
                    }}</a>
                  </li>
                  } }
                </ul>
              </div>
              } @else {
              <div class="border-0 bg-transparent p-0">
                <img
                  class="img-fluid"
                  src="../../assets/img/SVG/added.svg"
                  height="20"
                  width="20"
                />
              </div>
              }
            </div>
          </div>
        </div>
        } @if (loadingManhwas()) {
        <app-loader></app-loader>
        }
      </div>
    </div>
  </div>
</section>
