section {
    padding-top: 80px;
    min-height: 94vh;
  }
  
  .nav-link {
    text-align: left;
  }
  
  .nav-pills {
    border: 0;
  }
  
  .btn-main:hover img {
    filter: invert(51%) sepia(62%) saturate(5708%) hue-rotate(337deg) brightness(103%) contrast(101%);
  }
  
  .nav-link.active .delete-list {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }
  
  .delete-list:hover {
    filter: invert(0%) sepia(0%) saturate(7471%) hue-rotate(260deg) brightness(92%) contrast(108%) !important;
  }
  
  .modal {
    pointer-events: none;
  }
  
  .modal-dialog {
    pointer-events: all;
  }

  .small-input {
    width: 80px; /* Ajustez la largeur selon vos besoins */
  }
  