<nav class="navbar navbar-expand-lg d-block d-lg-none d-xl-none navbar-light">
    <div class="container">
      <a class="navbar-brand"><img src="assets/img/logo-simple.png" class="logo"></a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto my-2 mb-lg-0">
          <hr class="bg-main my-2">
          <li class="d-flex align-items-center mb-1">
            <img src="assets/img/SVG/eye.svg" width="20">
            <a class="item-nav mx-2" routerLink="/">Découvrir</a>
          </li>
          <hr class="bg-main my-2">
          <li class="d-flex align-items-center mb-1">
            <img src="assets/img/SVG/heart.svg" width="20">
            <a class="item-nav mx-2" [routerLink]="['/animes-list']">Mes Animés</a>
          </li>
          <hr class="bg-main my-2">
          <li class="d-flex align-items-center mb-1" (click)="logout()">
            <img src="assets/img/SVG/logout.svg" width="20">
            <a class="item-nav mx-2 pointer">Déconnexion</a>
          </li>
          <hr class="bg-main my-2">
        </ul>
        <div class="search-input d-flex position-relative w-100">
          <img src="assets/img/SVG/search.svg">
          <input type="text" class="form-control form-input m-0" (keyup.enter)="onEnter()" id="search"
            [(ngModel)]="search">
        </div>
      </div>
    </div>
  </nav>
  
  <div class="navbar d-none d-lg-block d-xl-block">
    <div class="container">
      <div class="row w-100">
        <div class="col-6 d-flex align-items-center">
          <a class="me-5" routerLink="/"><img src="assets/img/logo-simple.png" class="logo"></a>
          <a class="item-nav pe-2" routerLink="/">Découvrir</a>
          <a class="item-nav" [routerLink]="['/animes-list']">Mes Animés</a>
          <a class="item-nav pointer" (click)="logout()">Déconnexion</a>
        </div>
  
        <div class="col-6 d-flex justify-content-end align-items-center">
          <div class="search-input d-flex position-relative me-5">
            <img src="assets/img/SVG/search.svg">
            <input type="text" class="form-control form-input m-0" (keyup.enter)="onEnter()" id="search"
              [(ngModel)]="search">
          </div>
  
          <div class="dropdown">
            <a class="hover-zoom d-flex flex-column align-items-center" title="Mon Compte" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src="assets/img/SVG/profile.svg" width="40" height="40">
            </a>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  